# Authentication & Registry

; Allows for installing NPM packages from JSR, via `@jsr/<scope>__<name>`
@jsr:registry = "https://npm.jsr.io/"

# CLI

; Refuse to install packages that claim to not be compatible with the current
; Node.js version
engine-strict = true

; The version of Node.js that should be respected by `engine-strict`,
; irrespective of the result of `node -v`
node-version = "20.18.0"

; Emulate some features of a POSIX-compliant shell when running lifecycle
; scripts
shell-emulator = true

# Dependencies

; Disable hoisting any packages by default
hoist-pattern[]=""

; Allow for hoisting workspace packages
hoist-workspace-packages = true

; Allow for hoisting
hoist = true

; Whether to link workspace packages from the current workspace, instead of
; fetching them from the configured registry
link-workspace-packages = "deep"

; Prefer installing packages from the current workspace, instead of fetching
; them from the configured registry
prefer-workspace-packages = true

; Disable publicly hoisting any packages by default
public-hoist-pattern[]=""
public-hoist-pattern[]="@cspell/cspell-json-reporter"
public-hoist-pattern[]="@babel/plugin-syntax-typescript"

; The default prefix used when saving package versions in a `package.json` file
save-prefix = "~"

; Do not save the `workspace:` protocol in `package.json` files when saving a
; package from the current workspace
save-workspace-protocol = false

# Lockfile

; Use a unique lockfile for each Git branch, unless explicitly configured to
; merge them on specific branch patterns
git-branch-lockfile = true

; Include a URL to the associated package tarball for every entry in the
; lockfile
lockfile-include-tarball-url = true

; The patterns to match when deciding whether to automatically merge all
; branch-specific lockfiles
merge-git-branch-lockfiles-branch-pattern[]="main"
merge-git-branch-lockfiles-branch-pattern[]="release/*"
