---

---

<footer
	class="bg-#f6f6f7 dark:bg-#161618 c-zinc-600 dark:c-zinc-400 flex flex-justify-center flex-items-center flex-row font-size-3 h-auto p-12 w-vw"
>
	<div class="flex flex-justify-center flex-items-center flex-row h-auto w-full"
		>© 2024 Nat Sepruko
	</div>
</footer>
