---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
	/**
	 * The title of the webpage, used for the `<title>` and `og:title`.
	 */
	title: string;

	/**
	 * The description of the webpage, used for `og:description`.
	 *
	 * @default `":3"`
	 */
	description?: string;

	/**
	 * The children of the layout, passed to a `<slot />`.
	 */
	children: any;
}

const { title, description } = Astro.props;
---

<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-white c-#3c3c43 dark:bg-#161618 dark:c-#dfdfd7 font-sans">
		<slot name="pre-main" />
		<main class="b-blrd-4 b-brrd-4 bg-white dark:bg-#1b1b1f flex flex-col p-b-4">
			<slot />
		</main>
		<slot name="pos-main" />
	</body>
</html>
