name: 'Build Site'
run-name: ${{ format('Build Site for {0}', format('{0} ''{1}''', github.ref_type == 'branch' && 'Branch' || 'Tag', github.ref_name)) }}

on:
  workflow_call:
    outputs:
      artifact-id:
        description: 'The ID of the created Artifact containing the static page files.'
        value: ${{ jobs.build.outputs.artifact-id }}
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ format('{0}-{1}-{2}', github.workflow, github.event_name, github.ref) }}

defaults:
  run:
    shell: 'bash'
    working-directory: '.'

env:
  CI: 'GitHub Actions'

permissions:
  contents: 'write'

jobs:
  lint:
    name: 'CI'
    uses: './.github/workflows/ci.yml'
    if: ${{ !cancelled() }}

  build:
    name: 'Build site'
    if: ${{ !cancelled() }}
    needs: ['lint']
    runs-on: 'ubuntu-latest'

    outputs:
      artifact-id: ${{ steps.pages-artifact.outputs.artifact_id }}

    steps:
      - name: 'Checkout repository'
        uses: 'actions/checkout@v4'

      - name: 'Setup node'
        uses: 'actions/setup-node@v4'
        with:
          node-version-file: '.node-version'

      - name: 'Setup pnpm'
        uses: 'pnpm/action-setup@v4'
        with:
          dest: './.pnpm'
          package_json_file: './package.json'

      - name: 'Get pnpm store location'
        id: 'pnpm-get-store'
        run: |-
          echo "store-path=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

      - name: 'Restore cache'
        id: 'cache-restore'
        uses: 'actions/cache/restore@v4'
        with:
          path: |-
            ${{ steps.pnpm-get-store.outputs.store-path }}
          key: ${{ format('{0}-pnpm-store-{1}', runner.os, hashFiles('**/pnpm-lock.yaml')) }}
          restore-keys: |-
            ${{ format('{0}-pnpm-store-', runner.os) }}

      - name: 'Install dependencies'
        run: |-
          pnpm i

      - name: 'Save cache'
        uses: 'actions/cache/save@v4'
        if: ${{ !steps.cache-restore.outputs.cache-hit }}
        with:
          path: |-
            ${{ steps.pnpm-get-store.outputs.store-path }}
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

      - name: 'Perform site build'
        run: |-
          pnpm run build

      - name: 'Upload site artifact'
        id: 'pages-artifact'
        uses: 'actions/upload-pages-artifact@v3'
        with:
          path: './build/'
          retention-days: 2
